body {
    font-family: Arial, sans-serif;
    color: #AAA;
    margin: 0;
    padding: 0;
    background-color: #111;
    min-height: 100vh;
}

.menu-bar-container {
    background-color: #333;
    color: #AAA;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.control-panel-container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.control-panel {
    min-width: 360px;
}

.cp-section {
    box-sizing: border-box;
    margin: 20px;
    border-radius: 5px;
    background: #444;
    overflow: hidden;
}

.cp-section-header {
    padding: 10px 20px;
    font-weight: bold;
    background: #333;
}

.cp-section-content {
    padding: 20px;
    gap: 1rem;
}

    .cp-section-content button {
        padding: 10px 20px;
        color: #DDD;
        background-color: #666;
        border: 0px;
        border-radius: 3px;
        min-width: 100px;
    }

    .cp-section-content input[type="text"] {
        padding: 10px;
        border-radius: 3px;
        border: 0px;
        background: #272727;
        color: #DDD;
        text-align: center;
    }

/*Generic-styles;Move-to-shared*/
.flex-h-spread {
    display: flex;
    justify-content: space-between;
}

.flex-v-center {
    display: flex;
    align-items: center;
}

.flex-left {
}

.flex-right {
    margin-left: auto;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}