/*page layout*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: auto;
}

.menu-bar-container {
    background-color: #444;
    color: #AAA;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column; /* Stack viewer and list vertically by default */
}

.main-content-container {
    flex-grow: 1;
    background-color: #666;
    color: white;
}

.side-column-container {
    background-color: #555;
    color: white;
    padding: 10px;
    min-height: 100vh; /* Full height */
}

/* Responsive rule: side-by-side layout on wider screens */
@media (min-width: 1080px) {
    .main {
        flex-direction: row; /* Side by side */
    }

    .side-column-container {
        width: 360px;
        flex-shrink: 0;
    }

    .main-content-container {
        flex: 1;
        padding: 20px;
        min-width: 0;
    }
}

/*Player*/
.viewer-container {
    max-height: 70vh;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px;
    --darkreader-inline-boxshadow: var(--darkreader-background-00000040, rgba(24, 26, 27, 0.25)) 0px 4px 16px;
}

/*Controls*/
.under-viewer-controls {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background: #444;
}

/*Pagination*/
.right-wrap-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
}

    .right-wrap-list > * {
        margin: 5px;
        height: 40px;
        width: 40px;
    }

    .right-wrap-list > div > svg {
        height: 24px;
        width: 24px;
    }

/*Results and Media Card*/
.results-list {
}

.media-card {
    min-height: 80px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background: transparent;
    transition-duration: .2s;
}

    .media-card:hover {
        background: #4888;
        transition-duration: .5s;
    }

    .media-card > .media-card-thumb {
        margin: 8px;
        height: 64px;
        width: 96px;
        background: #111;
        border-radius: 6px;
        overflow: hidden;
    }

.media-card-details {
    display: flow-root;
    margin: 12px 8px 8px 4px;
}

.media-card > .media-title {
    margin-top: 12px;
    font-weight: bold;
}

.media-card > .media-card-details {
    flex: 1;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*Generic*/
.flex-h-spread {
    display: flex;
    justify-content: space-between;
}